name: CI Checks
on:
  pull_request:

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - run: nix run nixpkgs#nixfmt-tree -- --ci

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31
    - uses: cachix/cachix-action@v16
      with:
        name: nixos-android-builder
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

    - name: integration test
      run: nix build -L .#checks.x86_64-linux.integration

    #- name: image build
    #  run: nix build -L .#packages.x86_64-linux.image
